.landing-container {
    .landing-overlay {
    .register-container {
        gap: 3rem;
        display: flex;
        flex-direction: column;
    }
      .landing-inner-container {
          .landing-sub-container2 {
                .register {
                    font-size: 2rem;
                    text-align: center;
                }
                .form-container {
                    margin-top: 1rem;
                }
              .landing-button-container {
                    form {
                        gap: 0.3rem;
                        display: flex;
                        flex-direction: column;
                    }
                    .input-container{
                        display: flex;
                        flex-direction: column;
                        label {
                            color: white;
                        }
                        option{
                            color: #000;
                        }
                        input,textarea,select{
                            font-size: 1.1rem;
                            border-radius: 0.5rem;
                            border: none;
                            padding: 0.5rem;
                            background-color: rgba(249, 244, 244, 0.3);
                            color: white;
                            &::placeholder { 
                                color: rgba(249, 244, 244, 0.5);
                                opacity: 1;
                            &:focus {
                                border: none;
                            }
                    }
                        }
                    }   
              }
          }
      }
    }
    @media only screen and (min-device-width:1024px){
        .register-overlay {
            height: 100vh;
            .register-container {
                flex-direction: row;
                gap: 1rem;
                .landing-sub-container1 {
                    width: 20%;
                }
                .landing-sub-container2 {
                    width: 50%;
                }
            }
        }
    
      }
  }
  